#current {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: .25rem;

  img {
    max-width: 225px;
  }

  div {
    font-size: 1.15rem;
    text-align: center;
  }
  
  #current-song {
    padding-top: .75rem;
    font-weight: 700;
    color: #222;
  }
  
  #current-artist {
    padding-top: .25rem;
    color: #444;
  }
}