#main-input-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 1.5rem auto;
}

#main-input {
  flex: 1;
  color: #222;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  padding: .75rem;
  border: 2px solid #e9e9e9;
  border-right: none;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;

  &.not-rounded {
    border-bottom-left-radius: 0;
  }
}

#toggle-queue {
  margin: 0;
  border-radius: 0 10px 10px 0;
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
  padding: 0 1rem;
  text-transform: uppercase;
  color: #444;
  font-weight: 700;
  transition: background-color ease .25s;
  cursor: pointer;

  &.not-rounded {
    border-bottom-right-radius: 0;
  }

  &:hover {
    background-color: #fff;
  }

  @media screen and (max-width: 1200px) {
    font-size: .9rem;
    padding: 0 .5rem;
  }
}

#search-results {
  font-size: 1rem;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  border: 2px solid #e9e9e9;
  border-top: none;
  border-radius: 0 0 10px 10px;
  color: #444;

  div {
    padding: .75rem;
    transition: background-color .25s ease;
    cursor: pointer;

    .track-name-search {
      color: #222;
      font-weight: 700;
      margin-right: .5rem;
    }

    .track-artists-search {
      color: #777;
    }

    &:not(:last-child) {
      border-bottom: 2px solid #e9e9e9;
    }

    &:hover {
      background-color: #e9e9e9; 
    }
  }
}
