@import 'variables';

* {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  position: relative;
}

#outer-wrapper {
  height: inherit;
}

#single-input {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 400px;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 2;
    padding: .75rem;
    border: 3px solid $light-border-color;
    border-radius: 10px;
  }
}

::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

main {
  position: relative;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    padding: 0 1rem;
  }
}

.queue {
  // to compensate for leave session button
  margin-bottom: 80px;
}

#leave-session {
  position: absolute;
  bottom: 1.25rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 1rem;
  border: 2px solid #e84b4b;
  border-radius: 10px;
  background-color: $bg-color;
  padding: .5rem 1rem;
  text-transform: uppercase;
  color: #e84b4b;
  font-weight: 700;
  transition: all ease .25s;
  cursor: pointer;

  &:hover {
    color: $bg-color;
    background-color: #e84b4b;
  }
}
