@import 'variables';

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    font-size: 1rem;
    border-bottom: 1px solid $light-border-color;
  }

  th, td {
    padding: .75rem 0;
  }

  th {
    font-size: .9rem;
    text-align: left;
    text-transform: uppercase;
    color: $text-color-secondary;
  }

  td {
    color: $text-color;
  }
}

.track-mobile td {
  padding: 1.25rem 0;
}

.track-name-mobile {
  color: $text-color;
  margin-bottom: .5rem;
  font-size: 1.15rem;
  font-weight: 700;
}

.track-info-mobile {
  font-size: .9rem;
  color: $text-color-subdued;
}

.delimiter-mobile {
  padding: 0 0.5rem;
}

.remove {
  color: $text-color-secondary;
  transition: color .25s ease;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }
}

.no-track {
  margin-top: 1rem;
  color: $text-color-secondary;
  font-size: 1.25rem;
  text-align: center;
}