table {
  width: 100%;
  border-collapse: collapse;

  tr {
    font-size: 1rem;
    border-bottom: 1px solid #e9e9e9;
  }

  th, td {
    padding: .75rem 0;
  }

  th {
    font-size: .9rem;
    text-align: left;
    text-transform: uppercase;
    color: #444;
  }

  td {
    color: #222;
  }
}

.track-mobile td {
  padding: 1.25rem 0;
}

.track-name-mobile {
  color: #222;
  margin-bottom: .5rem;
  font-size: 1.15rem;
  font-weight: 700;
}

.track-info-mobile {
  font-size: .9rem;
  color: #777;
}

.delimiter-mobile {
  padding: 0 0.5rem;
}

.remove {
  color: #444;
  transition: color .25s ease;
  cursor: pointer;

  &:hover {
    color: #222;
  }
}